@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

@section Styles {
    <link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}

<div class="container-tool">
    <h2 class="text-red">@ViewData["Title"]</h2>
    <p class="text-danger">
        Sorry - you do not have the correct Role to access to this resource.
    </p>
</div>

@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@
}
