@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<h2 class="text-danger">@ViewData["Title"]</h2>
<p class="text-danger">
    Sorry - you do not have the correct Role to access to this resource.
</p>


