@page

@section Styles {
<link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}

<div class="container-tool">
    <h1 class="text-red">Email Address Confirmation Failure</h1>

    <p>Sorry we couldn't verify your email - an hour or more has passed since you registered, or the code is wrong.</p>
    <p><a href="/account/register">Please register</a> again using the same email address</p>

    <br />
    <p>Many thanks</p>
    <p>OSR4Rights Team</p>
</div>

