@page

@section Styles {
<link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}

<div class="container-tool">
    <h1 class="text-green">Email Address Confirmation Success</h1>

    <p>Thank you - your email is confirmed. <a href="/account/login">Please login</a></p>

    <p>You have been granted limited access to the system - you can run the examples, but can't upload your own files yet. We will be in touch shortly by email</p>

    <p>Many thanks</p>
    <p>OSR4Rights Team</p>
</div>


