@page "{emailAddressConfirmationCode:guid}"
@model EmailAddressConfirmationModel

@section Styles {
<link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}

<div class="container-tool">
    <h1>Email Address Confirmation</h1>

    <p class="py-md">Please press to confirm your email address</p>

    <form method="post">
        <button type="submit" class="btn btn-blue">Confirm Email</button>
    </form>
</div>





