@page "{emailAddressConfirmationCode:guid}"
@model EmailAddressConfirmationModel

<h1>Email Address Confirmation</h1>

<p>Please press to confirm your email address</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Confirm Email</button>
            </div>
        </form>
    </div>
</div>





