@page
@{
    ViewData["Title"] = "Please check your Email";
}

<h1 class="text-success">@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
<p>
    It should be there very soon (or maybe in spam). Sorry if it does come there, we are working hard to make sure it doesn't.
</p>
<p>
    If you don't receive an email, please check you entered your email address correctly and <a href="/account/forgot-password">try resetting again</a>
</p>




