@page
@{
    ViewData["Title"] = "Please check your Email";
}

@*<section class="box box-a grid-col-2">*@
<section class="box">
    <div>
        <div class="box-text">
            <h2 class="text-xl text-green">@ViewData["Title"]</h2>
            <p class="text-sm"> Please check your email to reset your password.</p>

            <p class="text-sm">It should be there very soon (or maybe in spam). Sorry if it does come there, we are working hard to make sure it doesn't.</p>

            <p class="text-sm">If you don't receive an email, please check you entered your email address correctly and <a href="/account/forgot-password">try resetting again</a></p>
        </div>
    </div>
    <div>
        @*<img src="/images/email-screenshot.jpg" alt="">*@
    </div>
</section>


@*<h1 class="text-success">@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
<p>
    It should be there very soon (or maybe in spam). Sorry if it does come there, we are working hard to make sure it doesn't.
</p>
<p>
    If you don't receive an email, please check you entered your email address correctly and <a href="/account/forgot-password">try resetting again</a>
</p>
*@



