@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
@section Styles {
<link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}

<section class="box box-a grid-col-2">
    <!-- col 1 -->
    <div>
        <div class="box-text">
            <h2 class="text-xl ">Forgot your Password?</h2>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger text-sm"></div>
                <div >
                    <div class="py-md">
                        <label>Please enter your email address</label>
                    </div>
                    <input asp-for="Email" class="input-text input-bigger" value="" />
                    <span asp-validation-for="Email" class="text-danger text-sm"></span>
                </div>

                <p class="full">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </p>
            </form>
            <p class="text-sm">Have a nice day</p>

            <p class="text-sm">Many thanks, OSR4Rights Team.</p>


        </div>
    </div>
    <div>
        @*   <img src="img/people/mont.jpg" alt="">*@
    </div>
</section>

@*<h4>Enter your email.</h4>
    <hr />
    <div class="row">
    <div class="col-md-4">
    <form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
    <label asp-for="Email"></label>
    <input asp-for="Email" class="form-control" value="" />
    <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
    </div>
*@

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}


