@page

<section class="box box-a grid-col-2">
    <!-- col 1 -->
    <div>
        <div class="box-text">
            <h2 class="text-xl text-green">Logout Success</h2>
            <p class="text-sm">Have a nice day</p>

            <p class="text-sm">Many thanks, OSR4Rights Team.</p>


        </div>
    </div>
    <div>
     @*   <img src="img/people/mont.jpg" alt="">*@
    </div>
</section>

@*<h1 class="text-success">Logout success</h1>

<p>Have a nice day</p>

<p>Many thanks</p>
<p>osr4rights team</p>
*@

