@page
@model ManageLoginModel
@{
    ViewData["Title"] = "Manage";
}

@section Styles {
<link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}

<div class="container-tool">

    @*<h1>@ViewData["Title"]</h1>*@
    @*<hr />*@
    <h4>Hello @Model.Email</h4>
    <br />
    <p>You are on access level: @Model.RoleLevel</p>
    <p>If you want to change your password please <a href="/account/forgot-password">Do a forgot password reset</a>. </p>

</div>


@*@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }*@


