@page
@model RegisterSuccessModel

<h1>Verify Email Address</h1>

<p>Please check your email and click on the link to verify your email address. This link is active for 1 hour</p>

<p>It may be in your spam folder</p>




