@page
@model RegisterSuccessModel

<h1 class="text-success">Please check your Email</h1>

<p>Please check your email and click on the link to verify your email address. This link is active for 1 hour</p>

<p>
    It should be there very soon (or maybe in spam/junk). Sorry if it does come to spam, we are working hard to make sure it doesn't.
</p>





