@page
@model RegisterSuccessModel

<section class="box box-a grid-col-2">
    <div>
        <div class="box-text">
            <h2 class="text-xl text-green">Please check your Email</h2>
            <p class="text-sm">Please check your email and click on the link to verify your email address. This link is active for 1 hour</p>

         <p class="text-sm">help@osr4rightstools.org is the email address the message will be from</p>

         <p class="text-sm">Sorry if it does come to spam, we are working hard to make sure it doesn't.</p>

         <p class="text-sm">Please mark it as not spam / add us to your safe-senders list.</p>
         
            <p class="text-sm">The email will look like the image to the right</p>

            <p class="text-sm">Many thanks, OSR4Rights Team.</p>


        </div>
    </div>
    <div>
           <img src="/images/email-screenshot.jpg" alt="">
    </div>
</section>

@*
<h1 class="text-success">Please check your Email</h1>

<p>Please check your email and click on the link to verify your email address. This link is active for 1 hour</p>

<p>help@osr4rightstools.org is the email address the message will be from</p>

<p>Sorry if it does come to spam, we are working hard to make sure it doesn't.</p>

<p><strong>Please mark it as not spam / add us to your safe-senders list.</strong></p>

<p>It will look like this:</p>

<img src="/images/email-screenshot.jpg"/>


*@


