@page "{resetGuid:guid}"
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}
@section Styles {
<link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}

<section class="box box-a grid-col-2">
    <!-- col 1 -->
    <div>
        <div class="box-text">
            <h2 class="text-xl ">Reset Password</h2>

            <form method="post">
                <div asp-validation-summary="All" class="text-danger text-sm"></div>
                <div >
                    <div class="py-md">
                        <label>Please enter a new password</label>
                    </div>
                    <input asp-for="NewPassword" class="input-text input-bigger" value="" />
                    <span asp-validation-for="NewPassword" class="text-danger text-sm"></span>
                </div>

                <p class="full">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </p>
            </form>
            <p class="text-sm">Consider using a password manager, or using a 3 random word password</p>
            <p class="text-sm"><a href="https://www.ncsc.gov.uk/blog-post/the-logic-behind-three-random-words">Gov UK Advice</a></p>

        </div>
    </div>
    <div>
        @*   <img src="img/people/mont.jpg" alt="">*@
    </div>
</section>

@*
<div class="container-tool">

    <h1>@ViewData["Title"]</h1>

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <label>New Password</label>
                    <input asp-for="NewPassword" class="form-control" value="" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Reset Password</button>

                <hr />

            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Password Advice</h4>
                <hr />
                <div>
                    <p>Consider using a password manager, or using a 3 random word password</p>
                    <p><a href="https://www.ncsc.gov.uk/blog-post/the-logic-behind-three-random-words">Gov UK Advice</a></p>

                </div>
            </section>
        </div>
    </div>
</div>*@

@section Scripts {
<partial name="_ValidationScriptsPartial" />
    }

