@page
@{
    ViewData["Title"] = "Your Password has been Reset";
}
@section Styles {
<link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}

<div class="container-tool">
    <h1 class="text-green">@ViewData["Title"]</h1>
    <br />
    <p>
        <a href="/account/login">Login</a> now please with your new password
    </p>
</div>
