@page
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}
<h1>@ViewData["Title"]</h1>

<p>Dashboard</p>




<h4>500 Errors</h4>
<div class="container">

    @foreach (var d in Model.Dashboard500Vms.ToList())
    {
        <div class="row">
            <div class="col"> @d.DateTimeUtc </div>
            <div class="col"> @d.Path </div>
            <div class="col"> @d.Email </div>
        </div>
    }
</div>

<h4>404 Not Found</h4>
<div class="container">

    @*@foreach (var rg in Model.HateSpeechRgs)
    {
        <div class="row">
            <div class="col">
                @rg
            </div>
        </div>
    }*@
</div>

<h4>All Pages (not assets)</h4>
asdf

<h4>All User Logins</h4>
