@page
@model HealthCheckDbModel
@{
    Layout = "";
}

<h1>HealthCheckDb</h1>

<h2>CountOfAllVMs</h2>
<p>All VM's that have been created: @Model.CountOfAllVMs</p>

<p>No menus as this is designed for an automated system to call it</p>

<p>Should return 400 (Bad Request) if any anomalies </p>
