@page
@model PollyTestModel

    <h1>Polly Test</h1>

    <form method="post">

        <div class="form-group">
            <input class="form__control" placeholder="NoOfTries" asp-for="NumberOfTries" value="10000" />
            <button type="submit" class="btn btn-primary">Hammer log insert</button>
        </div>

    </form>
