@page
@model OSR4Rights.Web.Pages.AutoArchiverModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@{
    ViewData["Title"] = "Auto-Archiver";
}

@* bootstrap for tus progress bar*@
@section Styles {
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />*@
    <link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}

    <div class="container-tool">
        <h2 class="text-xl">Auto Archiver of Web URLs</h2>

        <p>A tool for automatically archiving web page links and saving the images and videos. Currently used in monitoring human rights situations in Ukraine, Myanmar and Afghanistan</p>

        <h3 class="py-sm">Archiving Online Evidence of Human Rights Violations: How OSR4Rights Tools’ Auto Archiver Saves Investigators Time and Money and Meets the Latest Guidelines on Online Investigations </h3>

        <p class="py-sm"> Online open-source information has transformed how human rights organisations and civil society actors identify, gather, and preserve evidence of international crimes and human rights violations across the globe.  </p>

        <p class="py-sm">Open-source information has been praised for its ability to bypass traditional information gatekeepers to retrieve information on international crimes and human rights violations through free and publicly accessible videos, photographs and social media posts. One major challenge that investigators face is the transient nature of social media evidence, which can be removed from the internet without warning.  </p>

        <p class="py-sm">
            Recently published guidelines by the International Criminal Court’s Office of the Prosecutor, Eurojust, and the EU Genocide Network entitled, ‘<a href="https://www.icc-cpi.int/news/documenting-international-crimes-and-human-rights-violations-accountability-purposes">Documenting International Crimes and Human Rights Violations for Accountability Purposes: Guidelines for Civil Society Organisations</a>’ provides useful tips on ways that civil society actors can collect, document and preserve information that can be used as evidence in future national and international prosecutions. On online investigations, the Guidelines recommend ‘the use of tools specifically developed to collect and preserve online content for accountability purposes.’ According to the Guidelines:
        </p>

        <p class="py-sm"><b>Online information is highly volatile – it can disappear from the internet or be easily modified. Therefore, capture online information in such a way that enables the authenticity and the integrity of the digital item to be established as collected at a certain time from a certain web location.</b> </p>

        <p class="py-sm">
            To this end, the Guidelines recommend using digital tools that allows human rights investigators to “download the online content, collect the relevant metadata, hashtag the information and create a digital package.”
        </p>

        <p class="py-sm">
            If you are wondering whether such specialised tools exist, then look no further because with our version of <a href="https://github.com/bellingcat/auto-archiver">Bellingcat's Auto Archiver</a>, which we contribute to. Human rights investigators can automatically save web page links by entering the Web URL links of the online information into a simple Google Spreadsheet. More advanced archiving services are provided by groups like <a href="https://mnemonic.org/">Mnemonic</a>, but this is a good web-based ‘quick stop’ solution that will be helpful for many human rights investigators.
        </p>

        <div>
            <img src="~/images/aa.jpg" />
        </div>

        <p class="py-sm">
            The best feature of Auto Archiver tool is that it is automatic and it is on the lookout for links that requires processing every 60 seconds. Having identified a new link in the spreadsheet, Auto Archiver automatically saves a screen shot of the link, downloads and saves a copy of the relevant media (e.g. a video or photograph uploaded with a Tweet), saves information about the metadata of the post, and creates a cryptographic hash of the content.
        </p>

        <p class="py-sm">
            As a result of these steps, Auto Archiver can save human rights investigators huge amounts of time that was previously used in archiving data from sites manually.
        </p>

        <p class="py-sm">
            To find out more about how the Auto Archiver tool can support your organisation’s work on human rights investigations or for a quick demonstration of the tool, please contact the team at:  Yvonne.McDermottRees@swansea.ac.uk
        </p>



        <br />
        <h3>Auto-Archiver tool</h3>

        <p><a href="https://www.bellingcat.com/resources/2022/09/22/preserve-vital-online-content-with-bellingcats-auto-archiver-tool/">Bellingcat Article</a> on the 22nd September 2022 is a great overview on their open source project which we are proud to contribute to. Thanks to their great developers and vision we can offer this tool to organisations that need it </p>

        <p class="py-md">As of Oct 2022 we have archived <b>16,000 links</b> totaling over <b>300GB</b> of images and video which would have had to be done by hand. This is a huge time saver and we are proud to support the work of organisations like <a href="https://www.info-res.org/">The Centre for Information Resilience</a></p>

        <br />


        @*<iframe width="560" height="315" src="https://www.youtube.com/embed/4HkDmulcxis" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
        <div class="videowrapper">
            <iframe width="853" height="505" src="https://www.youtube.com/embed/4HkDmulcxis" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <br />
        <p class="py-md">Given a list of Web URL links entered into a Google Spreadsheet, we archive that page, so that you have a safe copy.</p>

        <p><img src="img/auto-archiver/spread.jpg" alt="" /></p>

        <p class="py-md">Our archiver is automatic and every minute looks to see if there are links which need to be processed. Below shows the archiver working on some Twitter URL's which contain images.</p>

        <p><img src="img/auto-archiver/spread2.jpg" alt="" /></p>

        <p class="py-md">The results of the archiver for row 4 in the spreadsheet above are: </p>

        <ul class="normal-ul">
            <li>Gets Images from the <b>Link</b></li>
            <li>Save the image to the <b>Archive Location</b> either Google Drive or Digital Ocean Spaces </li>
            <li>Save a <b>Screenshot</b></li>
            <li>Save a <b>Hash</b> of everything for veracity</li>
            <li>Create a <b>Thumbnail</b> of the image</li>
            <li>Create a <b>Upload timestamp</b></li>
        </ul>

        <br />

        <h2>1. Twitter Image</h2>

        <p class="py-md"><a href="https://twitter.com/minmyatnaing13/status/1499415562937503751">https://twitter.com/minmyatnaing13/status/1499415562937503751</a> is the entered Link</p>

        <img class="py-md" src="/img/auto-archiver/screen.jpg" />

        <p>Screenshot we took of that Tweet and saved to our cloud storage in case it is every deleted from Twitter.</p>

        <img class="py-md" src="/img/auto-archiver/image.jpg" />

        <p>Image embedded in the Tweet which we have saved to our cloud storage</p>

        <br />

        <img src="/img/auto-archiver/hash.jpg" />

        <p>Raw twitter data, link to saved image (with hash). And this page is hashed and result populated in the spreadsheet</p>

        <br />

        <h2>2. Facebook Video</h2>

        <p class="py-md"><a href="https://www.facebook.com/Karenni-Free-Burma-Rangers-111193108038684/videos/343188674422293/">https://www.facebook.com/Karenni-Free-Burma-Rangers-111193108038684/videos/343188674422293/</a> is the entered Link</p>

        <p><img src="img/auto-archiver/spread3.jpg" alt="" /></p>

        <p>Showing the successful archiving of the link</p>

        <img class="py-md" src="/img/auto-archiver/screen3.jpg" />

        <p>Automated screenshot of the Facebook page. </p>

        <p><a href="https://functionsdm2storage.file.core.windows.net/testfileshare/video.mkv?sv=2020-10-02&st=2022-04-30T15%3A51%3A17Z&se=2022-05-01T15%3A51%3A17Z&sr=f&sp=r&sig=CEhVnhPYOlz3qb2SAs2KqbQoOQhz4dgoBpdEZRVDrrU%3D">video.mkv</a> is the raw video downloaded from Facebook.</p>

        <p><img src="img/auto-archiver/thumb.jpg" alt="" /></p>

        <p>Thumbnails of parts of the video so can see at a glance what happened.</p>

        <br />

        <h2>Archivers</h2>

        <p class="py-md">We have specific archivers for</p>

        <ul class="normal-ul">
            <li>Twitter</li>
            <li>YouTube</li>
            <li>Facebook</li>
            <li>Telegram</li>
            <li>TikTok</li>
        </ul>

        <p class="py-md">There is a fallback archiver (which uses archive.org) for any other site.</p>

        <h2>Conclusion</h2>

        <p class="py-md">This tool can save a huge amount of manual time archiving data from sites. It is being used by organisations capturing media for safeguarding. </p>


        <p>Please contact us <a href="https://osr4rights.org/contact-us/">here</a> and we can do a demo for you, or we can add you to our demo spreadsheet, so you can test out the system in real time.</p>
        <!-- not logged in -->
    @if (!_httpContextAccessor.HttpContext!.User.Identity!.IsAuthenticated)
    {
        @*<h2 class="text-md py-md">If you wouldn't mind...</h2>*@

        @*<p class="">Please Tell Us who you are by <a href="/account/register">Registering</a> then you can run the samples</p>*@

        @*<p class="py-sm">Or <a href="/account/login">Login</a> if you have already registered</p>*@

        @*<img src="img/sp.jpg" alt="">*@

    }
    else
    {
        <!-- tier 2-->
        @if (Model.IsAllowedToUpload)
        {
            <br />
        }
        else
        {
            <!-- tier 1-->
            @*<p class="text-danger">We need to manually approve you before you can upload your own files. </p>*@
        }

        @* <h1 class="py-md">Further Information</h1>

    <p>Please see the article on <a href="https://davemateer.com">here</a> for more technical details</p>*@

    }
</div>

@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@

    @* jquery needed for tus script - todo refactor out*@
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

    <script src="~/js/tus-js-client/dist/tus.js" asp-append-version="true"></script>
    <script src="~/js/upload-tus.js" asp-append-version="true"></script>
}


