@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
@section Styles {
<link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}

<div class="container-tool">

    <h1 class="text-red">Sorry.</h1>
    <h2 class="text-red">An error occurred.</h2>

    <p>
        Something has gone wrong (Status code: @Model.CustomStatusCode)
    </p>

</div>
