@page
@model FaqModel
@{
    ViewData["Title"] = "FAQ";
}
@section Styles {
    <link href="/css/style-login.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />*@
}

<div class="container-tool">
    <h2 class="text-xl">FAQ</h2>


    <p>Is your code open-access - yes! <a href="https://github.com/osr4rightstools/osr4rights-tools">Here is our GitHub Repository</a></p>
    <p>How much does it cost? For approved users it is free of charge</p>
    <p>What is your sustainability strategy? (coming soon)</p>
    <p>What can I do to help? (coning soon)</p>
</div>
