@page
@model OSR4Rights.Web.Pages.FireMapModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor
@{
    ViewData["Title"] = "Fire Map";
}
@* bootstrap for tus progress bar*@
@section Styles {
<link href="/css/style-login.css" rel="stylesheet" type="text/css" />
@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />*@
}

<div class="container-tool">
    <h2 class="text-xl">FireMap</h2>

    <p>Welcome to the fire-map test page</p>

    <!-- not logged in -->
    @if (!_httpContextAccessor.HttpContext!.User.Identity!.IsAuthenticated)
    {
        <h2 class="text-md py-md">If you wouldn't mind...</h2>

        <p class="">Please Tell Us who you are by <a href="/account/register">Registering</a></p>

        <p class="py-sm">Or <a href="/account/login">Login</a> if you have already registered</p>


    }
    else
    {
        <!-- tier 2 -->
        @if (Model.IsAllowedToUpload)
        {
            <p>Tier 2 - full access</p>
            <br />
        }
        else
        {
            <!-- tier 1-->
            <p class="text-danger">Tier 1 - limited access (pending approval)</p>
        }

        <h4 id="samples">Samples</h4>

        <form method="post" asp-page-handler="run1barack">
            <input type="submit" class="btn btn-light" value="Go to fire-map" />
        </form>

        <form method="post" asp-page-handler="run6lfwsmall">
            <input type="submit" class="btn btn-light" value="Go to fire-map sample" />
        </form>
    }
</div>

@*  </div>
    </section>*@

@section Scripts {
@*<partial name="_ValidationScriptsPartial" />*@

@* jquery needed for tus script - todo refactor out*@
<script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>

<script src="~/js/tus-js-client/dist/tus.js" asp-append-version="true"></script>
<script src="~/js/upload-tus.js" asp-append-version="true"></script>
}
