@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
@section Styles {
    <link href="/css/style-login.css" rel="stylesheet" type="text/css" />
}
    <div class="container-tool">
        <h2>Privacy</h2>

        <p>Privacy detail coming soon</p>
    </div>
